@model List<Game>

<h1 class="text-center">Welcmoe to the WVU Men's Soccer Management System</h1>

<h4 class="text-center">Games</h4>
<div class="container mt-3 mb-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Game Date</th>
                <th>Opponent</th>
                <th>Score</th>
                <th>Possession</th>
                <th>Shots</th>
                <th>Saves</th>
                <th>Fouls</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <td>@game.gameDate</td>
                    <td>@game.opponent</td>
                    <td>@game.score</td>
                    <td>@game.posessionStat</td>
                    <td>@game.shotsStat</td>
                    <td>@game.SavesStat</td>
                    <td>@game.foulsStat</td>
                   
                </tr>
            }
        </tbody>
    </table>
    <h4 class="text-center">Surveys</h4>
    <p class="text-center"><a asp-controller="Home" asp-action="Create" class="btn btn-primary">Submit a Survey</a></p>

    
</div>
